# ==============================
# SECRETOS (MUY IMPORTANTE)
# ==============================
.streamlit/secrets.toml

# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# ENTORNOS VIRTUALES
# ==============================
venv/
.venv/
env/

# ==============================
# ARCHIVOS DEL SISTEMA
# ==============================
.DS_Store
Thumbs.db

# ==============================
# ARCHIVOS TEMPORALES
# ==============================
*.log
*.tmp